---
import Head from "@components/layout/Head.astro";
import Header from "@components/navigation/Header.astro";

import "@styles/global.css";
---

<html lang="en">
  <head>
    <Head />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
