---
import MainLayout from "../layouts/mainLayout.astro"
---

<MainLayout>
  <div
    class="flex flex-col items-center justify-center h-screen bg-brand-slate">
    <h1 class="text-8xl font-bold font-display font-stretch-62% uppercase">
      Here as in Heaven
    </h1>
  </div>
</MainLayout>
