---
import Container from "@components/layout/Container.astro";
import Logo from "@components/ui/Logo.astro";
import CloseIcon from "@components/icons/CloseIcon.astro";

const navItems = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Services", href: "/services" },
  { label: "Contact", href: "/contact" },
];
---

<div
  class="fixed inset-0 z-[100] flex flex-col bg-black text-white overflow-y-auto overscroll-contain"
  x-show="open"
  x-cloak
  @click.outside="open = false"
  @keydown.escape.window="open = false">
  <header class="fixed z-[60] w-full h-20">
    <Container class="h-full">
      <div
        class="flex items-center justify-between h-full font-sans text-lg border-b border-gray-800">
        <a href="/">
          <Logo height="32" ariaLabel="Garden Church Logo" />
        </a>
        <button @click="open = false" aria-label="Close Menu">
          <CloseIcon ariaLabel="Close Menu" />
        </button>
      </div>
    </Container>
  </header>

  <Container class="flex flex-col h-full pt-20">
    <nav
      class="flex flex-col items-start justify-center flex-1 gap-8 text-2xl font-medium">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class={`transition-colors hover:text-gray-300`}
            @click="open = false">
            {item.label}
          </a>
        ))
      }
    </nav>
  </Container>
</div>
