---
import { Font } from "astro:assets";

const { title = "Garden Church", description = "Here as in Heaven" } =
  Astro.props;
---

<>
  <Font cssVariable="--font-archivo" preload />
  <Font cssVariable="--font-geist-mono" preload />
  <Font cssVariable="--font-geist" preload />

  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />
</>
